.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url('../../../images/close-icon.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.3s;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
