.popup__submit-button {
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: 48px;
  padding: 0;

  cursor: pointer;
  transition: opacity 0.3s;
  text-align: center;

  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: #000;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.popup__submit-button:hover {
  opacity: 0.8;
}
