.profile__text {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 30px;

  row-gap: 10px;
}

@media screen and (max-width: 767px) {
  .profile__text {
    align-items: center;

    margin: 23px 0 34px;

  }
}
