.elements__title {
  overflow: hidden;

  width: 100%;
  margin: 0;
  margin-right: 25px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 24px;
  font-weight: 900;
  line-height: 29px;

}
