.page__container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 940px;
  margin: auto;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .page__container {
    padding: 0;
  }
}
